PatSI/Service References/UPServer/PatSiSvs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getLastVersion">
        <s:complexType />
      </s:element>
      <s:element name="getLastVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLastVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getWebHostDateTime">
        <s:complexType />
      </s:element>
      <s:element name="getWebHostDateTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getWebHostDateTimeResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getLastVersionSoapIn">
    <wsdl:part name="parameters" element="tns:getLastVersion" />
  </wsdl:message>
  <wsdl:message name="getLastVersionSoapOut">
    <wsdl:part name="parameters" element="tns:getLastVersionResponse" />
  </wsdl:message>
  <wsdl:message name="getWebHostDateTimeSoapIn">
    <wsdl:part name="parameters" element="tns:getWebHostDateTime" />
  </wsdl:message>
  <wsdl:message name="getWebHostDateTimeSoapOut">
    <wsdl:part name="parameters" element="tns:getWebHostDateTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="PatSISvsSoap">
    <wsdl:operation name="getLastVersion">
      <wsdl:input message="tns:getLastVersionSoapIn" />
      <wsdl:output message="tns:getLastVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getWebHostDateTime">
      <wsdl:input message="tns:getWebHostDateTimeSoapIn" />
      <wsdl:output message="tns:getWebHostDateTimeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PatSISvsSoap" type="tns:PatSISvsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getLastVersion">
      <soap:operation soapAction="http://tempuri.org/getLastVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWebHostDateTime">
      <soap:operation soapAction="http://tempuri.org/getWebHostDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PatSISvsSoap12" type="tns:PatSISvsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getLastVersion">
      <soap12:operation soapAction="http://tempuri.org/getLastVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWebHostDateTime">
      <soap12:operation soapAction="http://tempuri.org/getWebHostDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PatSISvs">
    <wsdl:port name="PatSISvsSoap" binding="tns:PatSISvsSoap">
      <soap:address location="http://192.168.131.10:8080/PatSI/PatSiSvs.asmx" />
    </wsdl:port>
    <wsdl:port name="PatSISvsSoap12" binding="tns:PatSISvsSoap12">
      <soap12:address location="http://192.168.131.10:8080/PatSI/PatSiSvs.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>